.card .card-img-overlay {
  position: relative;
} 
.contact {
/*    color: #796565;
    color: wheat;*/
} 
.more {
    position: absolute;
    top: 4%;
}
.left {
    left: 5%;
    width: 90%; 
    text-align: left;
    display: block;
}

.left span { 
    position: absolute;
    background-color: #808080c4;
    top: 19px;
    font-size: 10px;
    opacity: 0;
    width: 68%;
    text-align: center;
    border-radius: 3px;
    left: 16%;   
}



.left:hover span { 
    opacity: .99;
}


.left:hover  ~ .card-title    { 
    visibility: hidden;
}


.right {
    right: 5%;
} 
.userImg {
	width: 20px;
}


.card-img-overlay { 
    padding: .25rem; 
}

.card-text {
    margin-top: 0;
    margin-bottom: .1rem;
    font-size: .7rem;
}
.card-title { 
    width: 65%;
    margin: 0 auto;
    font-size: 1rem;
}

